.image-carousel {
  object-fit: cover;
  border-radius: 4px;
  position: center;
}

.carousel {
    width: 600px;
}

.carousel-caption {
  position: initial;
}

.carousel-control-next {
    right: -80px;
}

.carousel-control-prev {
    left: -80px;
}
