
@import url('https://use.fontawesome.com/releases/v5.6.3/css/all.css');
@import url('https://fonts.googleapis.com/css?family=Dosis&display=swap" rel="stylesheet"');
@import url("css/banner.css");
@import url("css/card-category.css");
@import url("css/footer.css");
@import url("css/navbar.css");
@import url("css/carousel.css");
@import url("css/mobile.css");


@media (max-width: 960px) {
  .container {
    width: 700px;
  }
}

body {
  background-color: black;
  color: white;
  font-family:'Dosis', sans-serif;
  font-weight: lighter;
}

h1 {
  font-size: 32px;
}

h2 {
  font-size: 32px;
  opacity:0.9;
}

h3 {
  font-size: 24px;
  opacity:0.9;
  padding-top: 20px;
}

p {
  font-size: 16px;
  color: white;
  /*opacity: 0.5;*/
  text-align: center;
}

a {
  font-size: 16px;
  text-decoration: none;
  color: white;
}

a:hover {
  text-decoration: none;
  color: white;
}






